<section class="product">
	<div class="container">
		<div class="product__grid">
			<div class="product__top">
				<h2 class="product__title">
					{{ 'Рынок перевозки битумов РФ' }}
				</h2>
				<ul class="product__tags list-reset">
					<li>
						{{ 'Битум' }}
					</li>
					<li>
						{{ 'россия' }}
					</li>
					<li>
						{{ '2022' }}
					</li>
					<li>
						{{ '2022' }}
					</li>
				</ul>
			</div>
			<div class="product__about">
				<div class="product__wrap">
					<h3 class="product__name">
						{{ 'Описание продукта' }}
					</h3>
					<div class="product__text">
						<p>
							{{ 'Для отслеживания стоимости перевозки битумов, данных по поставкам внутри РФ и на экспорт, планов производства на будущий месяц, динамики производства, ситуации на рынке перевозок.' }}
						</p>
						<p>
							{{ 'Единственный в своем роде информационный отчет, содержащий комплексный и оперативный анализ рынка перевозок битумов.' }}
						</p>
					</div>
				</div>
				<a href="#" class="product__link">
					{{ 'Методология' }}
				</a>
			</div>
			<div class="product__right">
				<div class="product__img">
					<picture>
						<source srcset="images/product/product.webp 1x, images/product/product@2x.webp 1.3x"
						        type="image/webp">
						<source srcset="images/product/product.jpg 1x, images/product/product@2x.png 1.3x"
						        type="image/png">
						<img src="images/product/product.jpg" width="600"
						     height="439" alt="">
					</picture>
				</div>
				<div class="product__buttons">
					<button class="b-btn b-btn--blue">
						{{ 'В корзину' }}
					</button>
					<a href="#" class="b-btn  b-btn--outline-blue">
						{{ 'Скачать пример бесплатно' }}
					</a>
				</div>
			</div>
		</div>
		<div class="product__according">
			<div class="accordion accordion--product">
				<button type="button" class="accordion__control accordion__control--product">
					<span class="accordion__title accordion__title--product">{{ 'Выпуск содержит обзор рынка перевозок битумов, а также факторов, влияющих на рынок и позволяющих определять конъюнктуру:' }}</span>
					<span class="accordion__icon accordion__icon--product">
							<svg class="accordion-svg" xmlns="http://www.w3.org/2000/svg" width="48" height="48"
							     viewBox="0 0 48 48" fill="none">
							<rect class="accordion-svg__bg" x="0.5" y="0.5" width="47" height="47" rx="23.5"
							      fill="white"/>
							<rect class="accordion-svg__line" x="23" y="10" width="2" height="28" fill="#2852A9"/>
							<rect class="accordion-svg__line" x="38" y="23" width="2" height="28"
							      transform="rotate(90 38 23)"
							      fill="#2852A9"/>
							<rect class="accordion-svg__circle" x="0.5" y="0.5" width="47" height="47" rx="23.5"
							      stroke="#2852A9"/>
						</svg>
					</span>
				</button>
				<div class="accordion__content">
					<div class="accordion__main">
						<ul class="product__list">
							<li>
								{{ 'Данные по отгрузкам по направлениям (внутренние/международные перевозки)' }}
							</li>
							<li>
								{{ 'Данные по отгрузкам по видам транспорта' }}
							</li>
							<li>
								{{ 'Данные по планам производства битумных материалов' }}
							</li>
							<li>
								{{ 'Цены на автоперевозки по европейской части России' }}
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="accordion accordion--product">
				<button type="button" class="accordion__control accordion__control--product">
					<span class="accordion__title accordion__title--product">{{ 'Выпуск содержит обзор рынка перевозок битумов, а также факторов, влияющих на рынок и позволяющих определять конъюнктуру:' }}</span>
					<span class="accordion__icon accordion__icon--product">
							<svg class="accordion-svg" xmlns="http://www.w3.org/2000/svg" width="48" height="48"
							     viewBox="0 0 48 48" fill="none">
							<rect class="accordion-svg__bg" x="0.5" y="0.5" width="47" height="47" rx="23.5"
							      fill="white"/>
							<rect class="accordion-svg__line" x="23" y="10" width="2" height="28" fill="#2852A9"/>
							<rect class="accordion-svg__line" x="38" y="23" width="2" height="28"
							      transform="rotate(90 38 23)"
							      fill="#2852A9"/>
							<rect class="accordion-svg__circle" x="0.5" y="0.5" width="47" height="47" rx="23.5"
							      stroke="#2852A9"/>
						</svg>
					</span>
				</button>
				<div class="accordion__content">
					<div class="accordion__main">
						<ul class="product__list">
							<li>
								{{ 'Данные по отгрузкам по направлениям (внутренние/международные перевозки)' }}
							</li>
							<li>
								{{ 'Данные по отгрузкам по видам транспорта' }}
							</li>
							<li>
								{{ 'Данные по планам производства битумных материалов' }}
							</li>
							<li>
								{{ 'Цены на автоперевозки по европейской части России' }}
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="accordion accordion--product">
				<button type="button" class="accordion__control accordion__control--product">
					<span class="accordion__title accordion__title--product">{{ 'Выпуск содержит обзор рынка перевозок битумов, а также факторов, влияющих на рынок и позволяющих определять конъюнктуру:' }}</span>
					<span class="accordion__icon accordion__icon--product">
							<svg class="accordion-svg" xmlns="http://www.w3.org/2000/svg" width="48" height="48"
							     viewBox="0 0 48 48" fill="none">
							<rect class="accordion-svg__bg" x="0.5" y="0.5" width="47" height="47" rx="23.5"
							      fill="white"/>
							<rect class="accordion-svg__line" x="23" y="10" width="2" height="28" fill="#2852A9"/>
							<rect class="accordion-svg__line" x="38" y="23" width="2" height="28"
							      transform="rotate(90 38 23)"
							      fill="#2852A9"/>
							<rect class="accordion-svg__circle" x="0.5" y="0.5" width="47" height="47" rx="23.5"
							      stroke="#2852A9"/>
						</svg>
					</span>
				</button>
				<div class="accordion__content">
					<div class="accordion__main">
						<ul class="product__list">
							<li>
								{{ 'Данные по отгрузкам по направлениям (внутренние/международные перевозки)' }}
							</li>
							<li>
								{{ 'Данные по отгрузкам по видам транспорта' }}
							</li>
							<li>
								{{ 'Данные по планам производства битумных материалов' }}
							</li>
							<li>
								{{ 'Цены на автоперевозки по европейской части России' }}
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
