<section class="about-hero">
	<div class="container">
		<h2 class="section-title about-hero__title">
			{{ 'О компании' }}
		</h2>
		<div class="about-hero__wrap">
			<div class="about-hero__text">
				<p>
					{{ 'Компания "ОМТ-Консалт" занимает лидирующие позиции в сфере аналитической информации, предоставляя высококачественные данные, собранные, систематизированные и глубоко проанализированные нами.' }}
				</p>
			</div>
			<div class="about-hero__poster">
				<picture>
					<source srcset="images/about/hero/poster-hero.webp 1x, images/about/hero/poster-hero@2x.webp 1.3x"
					        type="image/webp">
					<source srcset="images/about/hero/poster-hero.jpg 1x, images/about/hero/poster-hero@2x.png 1.3x"
					        type="image/jpg">
					<img src="images/about/hero/poster-hero.jpg" width="1224"
					     height="440" alt="">
				</picture>
			</div>
			<div class="about-hero__text">
				<p>
					{{ 'Наши успешные консалтинговые услуги охватывают широкий спектр отраслей уже более 20 лет. Мы являемся признанными экспертами в следующих направлениях:' }}
				</p>
			</div>
		</div>
		<div class="about-hero__grid">
			<div class="about-hero__item about-hero__item--green">
				<div class="about-hero__icon">
					<img src="images/icon/fire.svg" alt="" width="22" height="22">
				</div>
				<div class="about-hero__name">
					{{ 'Моторное топливо' }}
				</div>
			</div>
			<div class="about-hero__item about-hero__item--blue">
				<div class="about-hero__icon">
					<img src="images/icon/fire.svg" alt="" width="22" height="22">
				</div>
				<div class="about-hero__name">
					{{ 'Нефтехимия' }}
				</div>
			</div>
			<div class="about-hero__item about-hero__item--green">
				<div class="about-hero__icon">
					<img src="images/icon/database.svg" alt="" width="22" height="22">
				</div>
				<div class="about-hero__name">
					{{ 'Битумные материалы' }}
				</div>
			</div>
			<div class="about-hero__item about-hero__item--blue">
				<div class="about-hero__icon">
					<img src="images/icon/share.svg" alt="" width="22" height="22">
				</div>
				<div class="about-hero__name">
					{{ 'Сжиженные углеводородные газы' }}
				</div>
			</div>
			<div class="about-hero__item about-hero__item--green">
				<div class="about-hero__icon">
					<img src="images/icon/share.svg" alt="" width="22" height="22">
				</div>
				<div class="about-hero__name">
					{{ 'Смазочные материалы и многое другое.' }}
				</div>
			</div>
		</div>
	</div>
</section>
