<section class="advantages section-offset">
	<div class="container">
		<h2 class="section-title advantages__title">
			{{ 'Наши преимущества' }}
		</h2>
		<div class="advantages__grid">
			<div class="advantages__item">
				{{ 'Мы отличаемся от других компаний по ряду факторов:' }}
			</div>
			<div class="about-item about-item--icon about-item--green about-item--advantages">
				<div class="about-item__icon">
					<img src="images/home/about/chart.svg" alt="" width="48" height="48">
				</div>
				<div class="about-item__wrap">
					<div class="about-item__text">
						База данных, охватывающая <span>20</span> лет информации
					</div>
				</div>
			</div>
			<div class="about-item about-item--picture about-item--advantages">
				<div class="about-item__bg">
					<picture>
						<source srcset="images/about/advantages/advantages-2.webp 1x, images/about/advantages/advantages-2@2x.webp 1.3x"
						        type="image/webp">
						<source srcset="images/about/advantages/advantages-2.jpg 1x, images/about/advantages/advantages-2@2x.jpg 1.3x"
						        type="image/jpg">
						<img src="images/about/advantages/advantages-2.jpg" width="600"
						     height="365" alt="">
					</picture>
				</div>
				<div class="about-item__wrapper">
					<div class="about-item__wrap">
						<div class="about-item__text">
							{{ 'Наши сотрудники - высококвалифицированные эксперты, имеющие глубокие знания своих рынков' }}
						</div>
					</div>
				</div>
			</div>
			<div class="about-item about-item--picture about-item--advantages">
				<div class="about-item__bg">
					<picture>
						<source srcset="images/about/advantages/advantages-1.webp 1x, images/about/advantages/advantages-1@2x.webp 1.3x"
						        type="image/webp">
						<source srcset="images/about/advantages/advantages-1.jpg 1x, images/about/advantages/advantages-1@2x.jpg 1.3x"
						        type="image/jpg">
						<img src="images/about/advantages/advantages-1.jpg" width="600"
						     height="365" alt="">
					</picture>
				</div>
				<div class="about-item__wrapper">
					<div class="about-item__wrap">
						<div class="about-item__text">
							{{ 'Десятки уникальных готовых продуктов и гибкость в разработке индивидуальных решений под запросы клиентов' }}
						</div>
					</div>
				</div>
			</div>
			<div class="about-item about-item--icon about-item--blue about-item--advantages">
				<div class="about-item__icon">
					<img src="images/home/about/airdrop.svg" alt="" width="48" height="48">
				</div>
				<div class="about-item__wrap">
					<div class="about-item__text">
						{{ 'Обширная сеть для сбора информации, которую мы аккумулировали на протяжении многих лет' }}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
