<div class="item-cart">
	{% if item.img %}
		<div class="item-cart__img">
			<picture>
				<source srcset="images/product/{{ item.img }}.webp 1x, images/product/{{ item.img }}@2x.webp 1.3x"
				        type="image/webp">
				<source srcset="images/product/{{ item.img }}.jpg 1x, images/product/{{ item.img }}@2x.png 1.3x"
				        type="image/jpg">
				<img src="images/product/{{ item.img }}.jpg" width="600"
				     height="439" alt="">
			</picture>
		</div>
	{% endif %}
	<div class="item-cart__wrap">
		{% if item.name %}
			<h3 class="item-cart__name">
				{{ item.name }}
			</h3>
		{% endif %}
		<button type="button" class="item-cart__btn">
			<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
			     xmlns="http://www.w3.org/2000/svg">
				<g clip-path="url(#clip0_225_8645)">
					<path d="M18 7.20857L16.7914 6L12 10.7914L7.20857 6L6 7.20857L10.7914 12L6 16.7914L7.20857 18L12 13.2086L16.7914 18L18 16.7914L13.2086 12L18 7.20857Z"
					      fill="#121111"/>
				</g>
				<circle cx="12" cy="12" r="11.5" stroke="#121111"/>
				<defs>
					<clipPath>
						<rect width="12" height="12" fill="white" transform="translate(6 6)"/>
					</clipPath>
				</defs>
			</svg>
		</button>
	</div>
</div>
