<div class="cart-detail">
	<div class="cart-detail__top">
		<h3 class="cart-detail__name">
			{{ 'Детали заказа:' }}
		</h3>
		<button type="button" class="cart-detail__clean">
			{{ 'Очистить корзину' }}
		</button>
	</div>
	<div class="cart-detail__form">
		<form action="#" class="form form--cart" id="cart-form">
			<div class="form__row">
				<label for="cart-name" class="form__label">
					<input type="text" class="form__input" id="cart-name" placeholder="{{ 'Имя' }}">
				</label>
				<div class="form__error">{{ 'Поле не заполнено' }}</div>
			</div>
			<div class="form__row">
				<label for="cart-phone" class="form__label">
					<input type="text" class="form__input" id="cart-phone"
					       placeholder="{{ 'Телефон' }}">
				</label>
				<div class="form__error">{{ 'Не правильный формат' }}</div>
			</div>
			<div class="form__row">
								<textarea class="form__textarea" name="cart-message" id="cart-message"
								          placeholder="{{ 'Сообщение' }}"></textarea>
			</div>
			<button type="button" class="b-btn b-btn--blue">
				{{ 'Оставить заявку' }}
			</button>
		</form>
	</div>
</div>
